<!DOCTYPE HTML>
<html>
<head>
<title>G-Time吉他社 About_us</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/index_page/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/index_page/css/style.css" rel='stylesheet' type='text/css' />
<script src="/index_page/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/index_page/js/move-top.js"></script>
<script type="text/javascript" src="/index_page/js/easing.js"></script>
<!--/web-font-->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<link rel="stylesheet" href="/index_page/css/lightbox.css">

</head>
<body>
<!--start-home-->
<div class="main-header" id="house">
	<div class="header-strip">
		<div class="container" style="height:20px;">
		 <!-- <p class="location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>29C, Autem quibusdam debitis.</p>
		 <p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ 655 8858 54892</p>
		 <div class="social-icons">
			 <ul>
				 <li><a href="#"><i class="facebook"> </i></a></li>
				 <li><a href="#"><i class="twitter"> </i></a></li>
				 <li><a href="#"><i class="google-plus"> </i></a></li>	
				 <li><a href="#"><i class="dribble"> </i></a></li>										
			 </ul>
		 </div> -->
		 <div class="clearfix"></div>
	 </div>
	 </div>
			<div class="header-top">
				<div class="logo"><a href="/"><h1><span>G-Time</span></h1></a></div>
							<nav class="navbar navbar-default">
						  <div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a class="active" href="/">主页<span class="sr-only">(current)</span></a></li>
					<li><a class="scroll" href="/aboutus">关于我们</a></li>
					<li><a href="/video">视频</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
				<div class="clearfix"></div>
		</div>
		<div class="banner-two">
		
		</div>
</div>
<!-- news -->
 <div class="news-section single" id="news">
			<div class="container">
				 <h3 class="tittle">关于 <span>我们</span></h3>
				<div class="article-post">
				<div class="post-details s-page">
				   <img src="/index_page/images/1.jpg" alt="image" class="img-responsive zoom-img">
					<h2>G-time吉他社团</h2>
					<p>G-time吉他社团创立于2018年，以“为帮助每一位热爱吉他的同学”作为理念，成为了经贸第一个吉他社团 <b>最初，以天韵命名的社团，管理者认为必须让社团不断改革变新，</b> 从而今年成立了G-time吉他社。</p>
					<p class="eget">G-time吉他社团名称的来由源于我们想让每一位热爱吉他的同学都有属于他们自己的吉他时间，来享受生活<b>所以我们把这个吉他社团取名G-time。</b> 自此，G-time社团坚守经典，而G-time社团不断研发并创新新的学习模式，实现了学生社团双向发展。这期间，G-time社团的管理可谓是门庭若市，时常可以看到优秀学生流连于这里。 </p>
					<p class="eget">每一位热爱乐器的同学欢迎来加入G-time社团<b>这些身经百战的G-time的职人们，通过自己超高技巧的双手，</b> 不断为广大乐手们制作着高品质的作品。<b>今后，我们也会带着对作品的执着与热情，</b>为满足社团中所有的乐手们不同需求而努力，将G-time进行到底！ </p>
				</div>
				<!--post-details-->	
				<div class="clearfix"> </div>
				</div>	
		  
			</div>
	</div>

<!-- //news -->

<!--footer-->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			
			<div class="col-md-4 amet-sed" style="left:20%;">
			
			<ul class="social">
				<li><i class="glyphicon glyphicon-home"> </i>280 Xuelin Street, East District of Xiasha Higher Education Park, Hangzhou </li>
				<li class="tele-phone"><i class="glyphicon glyphicon-earphone"> </i> +71999-56985</li>
				<li class="mail"><a href="mailto:contact@example.com"><i class="glyphicon glyphicon-envelope"> </i> contact@example.com</a></li>
			</ul>
			</div>
		
			<!-- <div class="col-md-4 amet-sed amet-medium">
			
			</div> -->
			<div class="col-md-4 amet-sed " style="left:30%;">
			<h4>Follow Us</h4>
					<ul class="social-icons2 wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s">
									<li><a href="#" class="tw"></a></li>
									<li><a href="#" class="fb"> </a></li>
									<li><a href="#" class="in"></a></li>
									 <div class="clearfix"></div>
								</ul>
								
			</div>
			<div class="clearfix"> </div>
		</div>
			<p class="footer-class">Copyright &copy; 2016.Company name All rights reserved.</p>
	</div>
</div>
		<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="/index_page/js/bootstrap.js"></script>
</body>
</html>